body{
  font-size: 100%;
  font-family: Arial sans-serif;
  padding: 0;
  margin: 0;
}

header{
  background-color: #f4f4f4;
  box-sizing: border-box;
  -webkit-box-shadow: 0 2px 3px #d4d4d4;
     -moz-box-shadow: 0 2px 3px #d4d4d4;
          box-shadow: 0 2px 3px #d4d4d4;
  display: block;
  padding: 10px;
  height: 101px;
}

.hh-btn{
  background-color: #0271c7;
  border-radius: 2px;
  text-shadow: 0 0 3px #000;
  border: 0;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
}

.hh-btn:hover{
  background-color: #3e8ecc;
}

.hh-btn:active{
  position: relative;
  top: 1px;
}